.keyboard {
    width: 98%;
    aspect-ratio: 126/39;  
    bottom: 1%; left: 1%;
    position: absolute;
    display: flex;
    border-right: #798E6D 2px solid; //border-top: #798E6D 1px solid; border-bottom: #798E6D 1px solid;
    font-size: 0; //removes text
    border-radius: 30px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.36));
    transition: bottom 600ms ease-in-out;
    z-index: 90;

    &--oct-group {
        width: calc(100% / 3);
        display: flex;
        flex-shrink: 0;
    }
}
.keyboard.hide {bottom: -75%;}

$w-key-width: calc(100% / 7);
.w-key {
    background-color: #E1F0DA;
    border-left: #798E6D 2px solid;
    width: $w-key-width; height: 100%;
    z-index: 90;
    color: black;
    filter: contrast(1);
    @media (max-width: 300px){font-size: 0;}
}

$b-key-width: 8.4%;
.b-key {
    background-color: #41473C;
    width: $b-key-width; height: 54%;
    margin: 0% calc($b-key-width / -2);
    position: relative;
    flex-shrink: 0;
    z-index: 100;
    color: white;
    filter: contrast(1);    
    @media (max-width: 960px){font-size: 0;}
}

.key-note {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}