.tracker {
    position: absolute;
    left: 15%; top: 1%;
    width: 84%; height: 98%;
    background-color: #E1F0DA;
    border: #798E6D 2px solid;
    border-radius: 30px;
    z-index: 120;
    display: none;
}