.tracker {
    position: absolute;
    left: 16%; top: 1%;
    width: 83%; height: 98%;
    background-color: #E1F0DA;
    border: #798E6D 2px solid;
    border-radius: 30px;
    z-index: 30;
    transition: opacity 900ms;
    overflow: auto;
}
.tracker.hide {
    opacity: 0;
    pointer-events: none;
}

.track {
    position: relative;
    width: 0;//width: 12%;
    opacity: 0;
    flex-shrink: 0;
    transition: all 450ms;

    &--details {
        width: 100%; height: 15%;
        border-radius: 30px;
        background-color: #798E6D;
        margin-bottom: 15px;
        padding: 6px;
    }
    &--track {        
        width: 100%; height: auto;
        min-height: 72.5%;
        border-radius: 30px; 
        background-color: #798E6D; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 24px 6px;

        &--colspace {
            width: 3px;
            background-color: #41473C;
            margin: 0 6px;
        }
        
        &--column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            $row-width: 45px;
            &--row {
                width: $row-width; height: 14px;
                border-bottom: 1px solid #41473C;
            }
            &--point {
                position: absolute;
                width: $row-width;
                background-color: #BFD8AF;
                border-radius: 9px;
                text-align: center;
                z-index: 90;
                overflow: hidden;
                //-webkit-user-drag: element;
            }
        }
    }
}
.track.track-rend {
    min-width: 12%;
    width: fit-content;
    opacity: 1;
    padding-top: 3%; padding-left: 3%; 
}

.add-new {    
    width: 18%;
    padding: 3%;
    flex-shrink: 0;

    &--a {
        width: 100%; height: 100%;
        border-radius: 30px;
        background-color: #899D7E;
        filter: brightness(1);
        cursor: pointer;
        //transition: all linear 60ms;

        &--plus {
            top: 48%;
            color: #41473C;
            font-size: 600%; font-weight: 540;
        }
    }
}
