 
.kb-page--cob {
  background-color: #899D7E;
  border-radius: 30px;
  position: absolute;
  z-index: 60;
  transition: all 600ms;
  overflow: hidden; 

  &--octave {
    position: absolute;
    left: 0;
    width: 100%; height: 39%;
  }
  &--octave:hover {background-color: #798E6D;}
  &--octave:active {scale: 1.5;}
}
#kbcob-0 {
  width: 42%; height: 70%;
  left: -30%; top: -30%;
}
#kbcob-0.hide {
  left: -75%;
}
#kbcob-1 {
  width: 33%; height: 54%;
  left: 15%; top: 18%;
}
#kbcob-2 {
  width: 36%; height: 27%;
  left: 51%; top: 18%;
}
#kbcob-3 {
  width: 34.5%; height: 15%;
  left: 51%; top: 1.5%;
  background-color: #E1F0DA;
  color: #899D7E;
  font-size: 12px;
  line-height: 0.75em;
  font-style: italic;
  padding-left: 1.5%;
}
#kbcob-1.hide, #kbcob-2.hide, #kbcob-3.hide {
  opacity: 0;
  pointer-events: none;
}

.kb-page--cob.cobm {
    width: 7%; 
    aspect-ratio: 1/1;
    left: 90%;
    transition: all ease-in-out 630ms 120ms;  
    z-index: 120;
    cursor: pointer;
}
.kb-page--cob.cobm.trak {
    animation: x-trak 900ms cubic-bezier( 0.24, 0.1, 0.15, 1 ) forwards;//
}
.kb-page--cob.cobm.ogkb {
    animation: x-kb 900ms cubic-bezier( 0.24, 0.1, 0.15, 1 ) forwards;//
}
#kbcob-m-0       {top: 6%;}
#kbcob-m-0.trak {top: 68%;}
#kbcob-m-1       {top: 20%;}
#kbcob-m-1.trak {top: 55%;}
#kbcob-m-2       {top: 34%;}
#kbcob-m-2.trak {top: 42%;}

.cobtainer {transition: opacity 750ms;}

@keyframes x-trak {
  from {left: 90%;}
  to {left: 4%;}
}
@keyframes x-kb {
  from {left: 4%;}
  to {left: 90%;}
}

#tracker-play-btn {
  background-color: #E1F0DA;
  border: #41473C 2px solid;
  border-radius: 30px;
  position: absolute;
  top: 81%; left: -15%;
  width: 9%; aspect-ratio: 1/1;
  z-index: 60;
  cursor: pointer;
  transition: all 600ms;
}
#tracker-play-btn.trak {left: 3%;}

#main-menu {
  position: absolute;
  bottom: 0; right: 0;
  width: 21%; height: 54%;
  margin: 3%;
  color: #41473C;
}
.sm-item {
  width: 90%; height: 15%;
  margin-top: 5%;
  border-radius: 15px;
  background-color: #41473C;
  color: #899D7E;
  font-size: 0;
  background-position: 15% center;
  background-size: 27%;
  background-repeat: no-repeat;
}
#sm-latency {background-image: url('../assets/hit-latency.svg');}
#sm-rounding {background-image: url('../assets/beat-rounding.svg');}
#sm-fraction {background-image: url('../assets/beat-fraction.svg');}
//#sm-bpm {}
#sm-length {background-image: url('../assets/track-length.svg');}
#sm-qwerty {background-image: url('../assets/qwerty.svg');}

.beatCounter {
  position: absolute;
  right: 9%; top: 24%;
  height: 52%;
  aspect-ratio: 1/1;

  div {
    position: absolute;
    height: 100%; width: 100%;
    left: 0; top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: rotate 1800ms linear;
    z-index: 90;
  }
  &--C1L {
    rotate: 180deg;
    background-image: url('../assets/half-circle1.svg');
  }
  &--C1R {
    rotate: 0deg;
    background-image: url('../assets/half-circle1.svg');
  }
  &--C2L {
    rotate: 180deg;
    background-image: url('../assets/half-circle2.svg');
  }
  &--C2R {
    rotate: 0deg;
    background-image: url('../assets/half-circle2.svg');
  }
}