@font-face {
  font-family: AlumniSansIt;
  src: url(./assets/fonts/AlumniSansInlineOne-Italic.ttf);
}

.clicker {cursor: pointer;}
.clicker:hover {filter: brightness(0.75);}
.clicker:active {scale: 1.06;}

.center {
  position: absolute;
  left: 50%; top: 50%;
  translate: -50% -50%;
  margin: 0;
}

.fill {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}

.width-0 {
  width: 0 !important;
  margin: 0 !important;
  pointer-events: none;
  font-size: 0;
}

.win {
  position: absolute;
  border-radius: 30px;
  z-index: 150;
  background-color: rgba(61, 61, 61, 0.9);
  display: flex;
  color: #BFD8AF;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;

  &--spacer {
    width: calc(100% - 60px); height: 2px;
    margin-left: 30px;
    background-color: #BFD8AF;
    border-radius: 15px;
  }
  &--title {
    position: absolute;
    width: 100%;
  }
  &--container {
    display: flex;
    flex-direction: column;
    margin-top: 24%;
    padding: 0 30px;
    overflow-y: auto; overflow-x: hidden;  

    &--block {
      background-color: #41473C;
      border-radius: 15px;
      margin: 18px auto 0;
      padding: 15px;
      text-align: left;
      cursor: pointer;
      transition: scale 300ms;
    }
    &--block:hover {scale: 1.1;}
    &--block.block-selected {
      background-color: #BFD8AF;
      color: #41473C;
      font-weight: bold;
    }
  }
}
.win.win-open {opacity: 1; pointer-events: all;}

.App {
  background-color: #8ea781;
  position: absolute;
  top: 0;  left: 0;
  height: 100%;  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 300;
}
h1 {
  font-size: 2em;
  font-weight: 300;
}

.kb-page {
  width: 100%;
  max-width: 1530px;
  background-color: #BFD8AF;
  position: relative;
  overflow: hidden;
}

.start {
  top: 0;
  width: 100%; height: 100%;
  max-width: 1530px;
  background-color: #8ea781;
  position: absolute;
  transition: top 1s;
  z-index: 900;

  &--scn {
    width: 240px; height: 240px;
    &--btn {
      border-radius: 100%;
      background-color: #BFD8AF;
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
    &--p {
      width: 100%; height: auto;
      text-align: center;
      color: #41473C;
      font-size: 390%; font-weight: 540;
    }
    &--btn:hover {filter: brightness(1.2);}
    &--btn:active {scale: 1.2;}
  }
}
.start.hide {top: -120vh;}

#note-displayer {
  position: absolute;
  top: 6%;  left: 0;
  width: 100%;
  text-align: center;
}

// GLOBAL ANIMATIONS
.sp-bobble {animation: bobble 900ms;}
@keyframes bobble {
  0% {scale: 1.1;}
  6% {scale: 0.8;}
  24% {scale: 1.04;}
  40% {scale: 0.93;}
  60% {scale: 1.01;}
  70% {scale: 0.98;}
  90% {scale: 1.0045;}
  100% {scale: 1;}
}