.App {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.kb-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
