.scales-area {
    position: absolute;
    width: 36%; height: 15%;
    left: 51%; top: 30%;
    color: #41473c;  
    border-radius: 30px;
    font-size: 36px;
    font-family: AlumniSansIt;
    z-index: 120;
    pointer-events: none;

    &--scale--type {
        position: absolute;
        top: 45%; left: 6%;
        translate: 0 -50%;
        height: 54%; width: 54%;
        background-color: #899d7e;
        line-height: 2em;
        text-align: center;
        border-radius: 24px;
    }
    &--in {
        position: absolute;
        top: 45%; left: 64%;
        translate: 0 -50%;
        margin: 0;
    }
    &--scale--note {
        position: absolute;
        top: 45%; right: 6%;
        translate: 0 -50%;
        height: 54%; width: 21%;
        background-color: #899d7e;
        line-height: 2em;
        text-align: center;
        border-radius: 24px;
    }
}

.scales-list {
  position: absolute;
  bottom: 5%; left: 5%;
  height: 72%; width: 90%;
  z-index: 126;
  border-radius: 30px;
  background-color: #899d7e;
  color: #e1f0da;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  transition: opacity 150ms linear, visibility 150ms linear;
  
  &--container {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    overflow-y: auto; overflow-x: hidden;  

    &--block {
      min-width: 3em;
      width: 100%;
      background-color: #41473C;
      border-radius: 15px;
      margin: 12px 0;
      padding: 15px;
      text-align: left;
      text-wrap: nowrap;
      cursor: pointer;
      transition: scale 300ms;
    }
    &--block:hover {scale: 1.1;}
    &--block.block-selected {
      background-color: #BFD8AF;
      color: #41473C;
      font-weight: bold;
    }
  }
}
.scales-list.open {
  visibility: visible;
  opacity: 1;
}